doctype html
html
    head
        link(rel='stylesheet', href='/jsgrid/jsgrid.css')
        link(rel='stylesheet', href='/jsgrid/jsgrid-theme.css')
        style.
            .essensialRed{color:red;}
            .jsgrid{font-size:12px;}
            #jsGridVideo{display:inline-block;}
            #jsGridKeyword{display:inline-block;}
        script(type='text/javascript' src='/node_modules/jquery/dist/jquery.js')
        script.
            var codeArr = !{JSON.stringify(codeArr)};;
            codeArr.VERSION.unshift({CODE_VALUE:'', CODE_NAME:'선택'});
        script(type='text/javascript' src='/jsgrid/jsgrid.js')
        script(type='text/javascript' src='/js/data.js')
    body
        h3 곡
        div#jsGridSong
        h3 채보 -
            input#selectedId(type="hidden" value="")
            span#selectedSong 곡을 선택해주세요.
        div#jsGridSheet
        h3 영상/키워드 -
            input#selectedType(type="hidden" value="")
            input#selectedStep(type="hidden" value="")
            span#selectedSheet 채보를 선택해주세요.
        div#jsGridVideo
        div#jsGridKeyword