extends layout

block content
    script(src='/jsgrid/jsgrid.js')
    script(src='/js/data.js')
    link(href='/jsgrid/jsgrid.css', rel='stylesheet')
    link(href='/jsgrid/jsgrid-theme.css', rel='stylesheet')
    div#jsGrid
