extends layout
block content
  script(src="/js/index.js")
  header#header.alt
    span.logo #{title}
    h1 #{test}
    p Just another free, fully responsive site template
      br
      | built by
      a(href="https://twitter.com/mi1ky_ham") @mi1ky_ham
      | for
      a(href="https://html5up.net") HTML5 UP
      | .
    form(action="/search" method="get")
      .row.gtr-uniform
        .col-12
          input(type="text" placeholder="Search" name="content")
          button(style="float:right;margin:-40px 20px 0 0 ")
            i.fas.fa-search
