doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src="https://kit.fontawesome.com/d3bec84c7c.js" crossorigin="anonymous")
  body.is-preload
    #wrapper
      block content
